@import url('https://fonts.googleapis.com/css?family=Prata');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:700');
@import url('https://fonts.googleapis.com/css?family=Forum');


body{
	font: 400 14px/1 'Open Sans', sans-serif;
}

/* Layout */
.ba-container{
	padding-left: 18px;
	padding-right: 20px;
	max-width: 1207px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}

.ba-menu{
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	align-items: center;
	padding-bottom: 21px;
}

.ba-logo-header{
	border: 3px solid transparent;
	padding: 3px;
	border-radius: 7px;
}

.ba-logo-header:hover{
	border: 3px solid #A83F57;
	border-radius: 7px;
	padding: 3px;
}

.ba-menu ul{
	padding-bottom: 6px;
	margin: 0;
}

.ba-menu li{
	display: inline-block;
	position: relative;
	left: 18px;
	padding-left: 1px;
}

.ba-menu li a:hover{
	padding: 15px 18px;
	border: 1px solid #9E0045;
	border-radius: 5px;
}

.ba-menu li span{
	position: relative;
	top: 4px;
	right: 11px;
}

.ba-menu li>a{
	border: 1px solid #fff;
	padding: 15px 18px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 14px;
	color: #000;
	letter-spacing: -0.01em;

}
/*Header*/

.ba-artmaster{
	background: #D9D4CD url("../img/fon.jpg");
	background-size: cover;
	padding-top: 66px;
	padding-bottom: 137px;
}

.ba-artmaster__name{
	font: 400 96px/1 Prata, serif;
	margin: 22px 0;
}
.ba-artmaster__text{
	padding-top: 6px;
	font-size: 24px;
	width: 468px;
	line-height: 32px;
	margin-bottom: 0;
}

.ba-button{
	color: #8F003E;
	font-size: 24px;
	text-decoration: none;
	float: right;
	border: 3px solid #9E0045;
	border-radius: 5px;
	padding: 22px 85px;
	margin-top: -9px;
}

.ba-button:hover{
	background-color: #9E0045;
	color: #fff;
}
/*.ba-artmaster*/

.ba-artpicture{
	padding-top: 72px;
	margin-left: -4px;
	padding-bottom: 113px;
}

.ba-description{
	font: 900 48px/1 'Cormorant SC', serif;
	color: #8F003E;
	padding-bottom: 71px;
}

.ba-artpicture__gallery{
	margin-left: -23px;
}

.ba-artpicture__first-line{
	padding-bottom: 64px;
	display: flex;

}

.ba-artpicture__first-line img{
	margin-left: 24px;
	width: 47.8%;
	height: 100%;
}

.ba-artpicture__second-line{
	display: flex;
}

.picture-12{
	padding-left: 29px;
	position: relative;
	width: 50%;

}

.picture-11{
	display: flex;
	margin-left: 24px;
	width: 64%;
	height: 50%;
}

.picture-12 img{
	margin-bottom: 74px;
	width: 100%;
	height: 67%;
}

.ba-artpicture__gallery img:hover{
	transform:scale(1.07);
}

.picture-9:hover {
	 transform-origin: left;
 }

.picture-2:hover {
	transform-origin: right;
}

.picture-11:hover {
	transform-origin: bottom;
}

.picture-12:hover{
	transform-origin: right;
}

.ba-artpicture__button{
	padding-right: 61px;
}

.ba-artpicture__button span{
	position: relative;
	right: -17px;
	bottom: 2px;
}

.picture-12__button{

}

/*.ba-artpicture*/

.ba-artvideo{
	background: #BAA1A1;
	padding-top: 63px;
	margin-left: -3px;
	color: #fff;
	padding-bottom: 112px;
}

.ba-video{
	display: flex;
	margin-top: -8px;
}

.opisanie{
	padding-left: 30px;
	padding-top: 1px;
}
.opisanie h4{
	font-weight: normal;
	font-size: 29px;
}

.opisanie p{
	font-size: 18px;
	padding-top: 8px;
	line-height: 1.4;
}

.ba-artvideo__button{
	font-size: 16px;
	position: relative;
	bottom: 69px;
	padding: 21px 69px 27px 94px;
}

.ba-artvideo__button span{
	position: relative;
	font-size: 24px;
	right: -27px;
}
/*.ba-artvideo*/

.ba-contacts{
	padding-top: 64px;
	margin-left: -3px;
	padding-bottom: 50px;
	font: 400 16px/1 'Open Sans', sans-serif;
}

.ba-contacts h2{
	margin-bottom: 21px;
}

.ba-contacts__style{
	background-color: #E9D2DE;
	border: none;
	resize: none;
	border-radius: 5px;
	width: 100%;
	height: 53px;
}

.formform div{
	width: 100%;
	height: auto;
}

.ba-contacts__buttdiv{
	display: flex;
	justify-content: flex-end;
}

.ba-contacts__textarea{
	padding-top: 18px;
}

.ba-contacts form{
	display: flex;
}

.ba-contacts div + div{
	padding-left: 30px;
	overflow: hidden;
}

.ba-contacts__button{
	width: 74%;
	height: 57px;
	margin-top: 45px;
	border: none;
	border-radius: 5px;
	background-color: #9E0045;
	color: #fff;
	margin-left: 70px;
}

.ba-contacts__button:active{
	color: transparent;
	background: #9E0045 url(../img/Vector.svg) no-repeat center;
}

.ba-phone{
	font-size: 17px;
	padding-left: 6px;
	margin-top: 15px;
	letter-spacing: 0.01em;
}

.soc-media{
	display: flex;
	justify-content: flex-end;
}

.soc-media a{
	margin-right: -20px;
	margin-left: 20px;
	padding: 14px 18px;
	border: 3px solid transparent;
		border-radius: 5px;
}

.soc-media a:hover{
		padding: 14px 18px;
		border: 3px solid #9E0045;
		border-radius: 5px;
}
/*.ba-contacts*/

.ba-footer{
	background-color: #9E0045;
	font-size: 14px;
	color: #FFAAE9;
	text-align: center;
	padding-top: 38px;
	margin-left: -15px;
	padding-bottom: 9px;
}

.ba-logo-footer{
	border: 3px solid transparent;
	padding: 3px;
	border-radius: 7px;
	display: inline-block;
}

.ba-logo-footer:hover{
	border: 3px solid #FFAAE9;
	border-radius: 7px;
	padding: 3px;
}

.ba-footer p{
	padding-top: 16px;
}
/*.ba-footer*/

/*-------------------------------------------------------*/
/*Галерея*/

.ba-gallery{
	background-image: url(../img/fon.jpg);
	margin-top: 6px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.ba-gallery h2{
	font: 400 40px/1 Prata, serif;
	margin-left: -2px;
}

.ba-picture{
	padding-bottom: 113px;
}

.ba-location{
	display: flex;
	margin-left: -32px;
	padding-top: 114px;
	width: 100%;
}

.ba-location img{
	width: 35.1%;
	height: 100%;
	padding-left: 30px;
}

.ba-location__more{
	margin-left: 30px;
	padding-top: 139px;
	border-radius: 5px;
	display: flex;
	width: 31.7%;
	height: 545px;
	background: #E9D2DE;
	align-items: center;
	flex-direction: column;
	text-decoration: none;
	font-size: 24px;
	color: #fff;
}

.ba-location__more p{
	padding-bottom: 21px;
}

.ba-footer__soc-media a{
	margin-right: -28px;
	margin-left: 26px;
}

.ba-footer__soc-media a:hover{
	border-color: #FFAAE9;
	margin-right: -28px;
	margin-left: 26px;
}

.ba-footer-gallery{
	padding-top: 15px;
	margin-left: -15px;
	padding-bottom: 9px;
}

.ba-logo-footer-gallery{
	margin-top: -43px;
	margin-left: 18px;
}

.ba-footer-gallery p{
	padding-top: 11px;
	padding-left: 5px;
}


/*@media screen and (max-width: 1220px ) {*/
	/*.picture-12 img {width: 35%; height: 100%;}}*/

/*@media screen and (max-width: 1220px ) {*/
	/*.ba-artpicture__gallery img {width: 49%; height: 100%;}}*/


